$blue: #42A5F5;
// $lightGreen: #fffff8;
$lightGreen: #4CAF50;
$green: #008000;
$red: #ff0000;
$lightGray: #eee;
$neutralBg: #c5c5c550;
$bodyBg: #fffff8;
$overlayBg: rgba(50, 50, 50, 0.8);
$textColor: #424242;
$hoverTextBg: #555;
$tableBorder: #ccc;