$marginBottom: 20px;
$borderBottom: 1px solid #eee;

@mixin textStyling($fontSize, $display: block, $fontStyle: normal) {
    font-size: $fontSize;
    display: $display;
    font-style: $fontStyle;
}

main {
    
    #left {
        
        
        h1 {
            font-weight: 400;
            border: 1px solid rgba(0, 0, 0, 0);
            // @include textStyling(2.441rem, none);
            margin-top: 4rem;
            margin-bottom: 1.5rem;
            font-size: 3.2rem;
            line-height: 1.2;
        }
        
        #mainContent {
            width: 50%;
            
            h2, h3, h4 {
                // margin: 1.414rem 0 0.5rem;
                // line-height: 1.2;
            }
            
            h2 {
                // font-weight: 400;
                // @include textStyling(1.953rem, block, normal);
                font-weight: 400;
                margin-top: 3rem;
                margin-bottom: 0;
                font-size: 2.2rem;
                line-height: 1;

                margin-bottom: 1rem;
            }
            
            h3 {
                // font-weight: 400;
                // @include textStyling(1.563rem, block, normal);
                font-weight: 400;
                font-size: 1.7rem;
                margin-top: 2rem;
                margin-bottom: 0;
                line-height: 1;
            }
            
            h4 {
                font-weight: 400;
                // @include textStyling(1.25rem, block, normal);
            }
            
            .content {
                font-size: 1rem;
                line-height: 1.5rem;

                margin-top: 1.4rem;
                margin-bottom: 1.4rem;
                padding-right: 0;
                vertical-align: baseline;
                // font-size: 1rem;
                // margin-bottom: $marginBottom;
            }
            
            a {
                color: black;
                transition: 0.3s;
            }
            
            a:hover {
                color: #aaa;
                transition: 0.3s;
            }
            
            ul {
                @include textStyling(1rem);
                margin-bottom: 20px;
                margin-left: 2em;
            }
            
            ol {
                @include textStyling(1rem);
                margin-bottom: 20px;
                margin-left: 2em;
            }
            
            table {
                width: 100%;
                margin-bottom: 20px;
                border-bottom: 2px solid $tableBorder;
            }
            
            thead {
                text-align: left;
            }
            
            th {
                padding: 5px;
                border-bottom: 2px solid $tableBorder;
            }
            
            td {
                padding: 5px;
            }
            
            tr:not(:last-child) {
                
                td {
                    border-bottom: 1px solid $tableBorder;
                }
            }
            
            i {
                font-style: inherit;
            }
            
            .code {
                font-family: monospace;
                font-size: 1.1rem;
            }
            
            .sidenote {
                float: right;
                margin-right: -40%;
                margin-bottom: 10px;
                clear: right;
                max-width: 30%;
                min-width: 30%;
                text-align: left;
                font-size: 0.8rem;
            }
            
            .sidenote::before {
                content: counter(sidenote-counter) " ";
                font-size: 0.8rem;
                position: relative;
                bottom: 5px;
                left: 1px;
            }
            
            .sidenoteCounter {
                content: counter(sidenote-counter) " ";
                position: relative;
                margin-right: 2px;
            }
            
            .sidenoteCounter::before {
                content: counter(sidenote-counter) " ";
                font-size: 0.8rem;
                position: relative;
                bottom: 3px;
                counter-increment: sidenote-counter;
            }
            
            .left-img {
                max-width: 100%;
                margin-bottom: $marginBottom;
            }
            
            .right-img {
                float: right;
                clear: right;
                margin-right: -40%;
                max-width: 30%;
                min-width: 30%;
                margin-bottom: $marginBottom;
            }
            
            .big-img {
                max-width: 153.8%;
                margin-bottom: $marginBottom;
            }
            
            iframe {
                margin-bottom: $marginBottom;
            }
        }
    }
    
}