@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

$bgColor: lightslategrey;
$font: 'Oxygen', sans-serif;

body {
    background-color: $bgColor;
    font-family: $font;
    margin: 0px;
    padding: 0px;
    
    main {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%);
        min-width: 300px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        background-color: #B39DDB;
        border-radius: 7px;
        padding: 20px;
        
        input {
            border: none;
            outline: none;
            font-size: 20px;
            font-family: $font;
            width: 280px;
            min-width: 280px;
        }
        
        .inputContainer {
            margin-bottom: 10px;
            padding: 7px 28px 7px 10px;
            background-color: white;
            position: relative;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            border-radius: 7px;
            
            i {
                position: absolute;
                top: 10px;
                left: 92%;
                font-size: 25px;
            }
        }
        
        .proceedBtn {
            font-size: 35px;
            text-align: center;
            margin-bottom: 10px;

            span {
                display: block;
                margin: 0 auto;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                border: 2px solid black;
                line-height: 43px;
                cursor: pointer;
                transition: 0.3s;
            }

            span:hover {
                transition: 0.3s;
                color: #B39DDB;
                background-color: black;
            }
        }
        
        #login {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            
        }
        
        #register {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            display: none;
        }
    }
}