/* line 8, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
h1 {
  font-weight: bold;
  font-size: 4.5rem;
  margin-bottom: 20px;
  display: inline-block;
  font-style: normal; }

/* line 13, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
h2 {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 30px;
  display: inline-block;
  font-style: italic; }

/* line 18, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
h3 {
  font-weight: 400;
  font-size: 2.7rem;
  margin-bottom: 30px;
  display: inline-block;
  font-style: italic; }

/* line 23, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
h4 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 30px;
  display: inline-block;
  font-style: italic; }

/* line 28, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
.content {
  line-height: 2.8rem;
  font-size: 1.8rem;
  margin-bottom: 20px;
  display: inline-block;
  font-style: normal; }

<<<<<<< HEAD
/* line 33, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
a {
  color: black;
  transition: 0.3s; }

/* line 38, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
a:hover {
  color: #aaa;
  transition: 0.3s; }

/* line 43, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
ul {
  font-size: 1.8rem;
  margin-bottom: 20px;
  display: block;
  font-style: normal;
  margin-left: 2.3%; }

/* line 48, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
.code {
  font-family: monospace;
  font-size: 1.6rem; }

/* line 53, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
.codeblock {
  font-family: monospace;
  background-color: #f5f5dc;
  border-radius: 7px;
  padding: 8px;
  margin-left: 40px;
  border: 1px solid #eee;
  font-size: 1.6rem;
  margin-bottom: 30px;
  display: inline-table;
  font-style: normal; }

/* line 63, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
.img-left {
  max-width: 100%;
  margin-bottom: 30px; }

/* line 68, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
.img-right {
  width: 100%;
  max-width: 100%; }

/* line 73, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
.img-big {
  width: 153.8%;
  max-width: 153.8%;
  margin-bottom: 30px; }

/* line 79, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
iframe {
  max-width: 100%;
  margin-bottom: 30px; }
=======
/* line 56, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
.toolbar {
  border: 1px solid darkgray;
  border-bottom: none;
  padding: 5px;
  width: 100%;
  background-color: #eef;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

/* line 65, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
.editor {
  width: 100%;
  min-height: 400px;
  resize: vertical;
  font-size: 16px;
  padding: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

/* line 74, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
.editor-button {
  height: 30px;
  width: 40px;
  position: relative; }

/* line 80, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
.editor-wrapper {
  width: 95%; }

/* line 84, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
#code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-weight: bold; }

/* line 89, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
.tooltiptext {
  width: 100px;
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -39px;
  opacity: 0;
  transition: opacity 0.2s; }

/* line 105, C:/xampp/htdocs/AspIT-Exercise-Manager/frontend/css/nola.scss */
.editor-button:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }
>>>>>>> 2d5f2b5f8438761d3266efb71b1f913690442c23

/*# sourceMappingURL=nola.css.map */