@mixin textStyling($fontSize, $marginBot, $display: block, $fontStyle: normal) {
    font-size: $fontSize;
    margin-bottom: $marginBot;
    display: $display;
    font-style: $fontStyle;
}

h1 {
    font-weight: bold;
    @include textStyling(4.5rem, 20px, inline-block);
}

h2 {
    font-weight: 400;
    @include textStyling(3rem, 30px, inline-block, italic);
}

h3 {
    font-weight: 400;
    @include textStyling(2.7rem, 30px, inline-block, italic);
}

h4 {
    font-weight: 400;
    @include textStyling(2.5rem, 30px, inline-block, italic);
}

.content {
    line-height: 2.8rem;
    @include textStyling(1.8rem, 20px, inline-block);
}

a {
    color: black;
    transition: 0.3s;
}

a:hover {
    color: #aaa;
    transition: 0.3s;
}

ul {
    @include textStyling(1.8rem, 20px);
    margin-left: 2.3%;
}

.code {
    font-family: monospace;
    font-size: 1.6rem;
}

.codeblock {
    font-family: monospace;
    background-color: #f5f5dc;
    border-radius: 7px;
    padding: 8px;
    margin-left: 40px;
    border: 1px solid #eee;
    @include textStyling(1.6rem, 30px, inline-table);
}

.img-left {
    max-width: 100%;
    margin-bottom: 30px;
}

.img-right {
    width: 100%;
    max-width: 100%;
}

.img-big {
    width: 153.8%;
    max-width: 153.8%;
    margin-bottom: 30px;
}

iframe {
    max-width: 100%;
    margin-bottom: 30px;
}