$marginBottom: 20px;
$borderBottom: 1px solid #eee;

@mixin textStyling($fontSize, $marginBot, $display: block, $fontStyle: normal) {
    font-size: $fontSize;
    margin-bottom: $marginBot;
    display: $display;
    font-style: $fontStyle;
}

main {
    
    h1 {
        font-weight: bold;
        border: 1px solid rgba(0, 0, 0, 0);
        @include textStyling(4rem, $marginBottom, inline-block);
    }
    
    mainContent {
        
        h2 {
            font-weight: 400;
            border-bottom: $borderBottom;
            @include textStyling(2.8rem, $marginBottom, block, italic);
        }

        h3 {
            font-weight: 400;
            border-bottom: $borderBottom;
            @include textStyling(2rem, $marginBottom, block, italic);
        }

        h4 {
            font-weight: 400;
            border-bottom: $borderBottom;
            @include textStyling(1.6rem, $marginBottom, block, italic);
        }

        .content {
            margin-bottom: $marginBottom;
        }

        a {
            color: black;
            transition: 0.3s;
        }

        a:hover {
            color: #aaa;
            transition: 0.3s;
        }

        ul {
            @include textStyling(1.2rem, $marginBottom);
            margin-left: 2.3%;
        }

        i {
            font-style: inherit;
        }

        .code {
            font-family: monospace;
            font-size: 1.1rem;
        }

        .sidenote {
            float: right;
            margin-right: -66%;
            clear: right;
            max-width: 30%;
            text-align: end;
        }

        .sidenote::before {
            content: counter(sidenote-counter) " ";
            font-size: 0.8rem;
            position: relative;
            bottom: 5px;
            left: 1px;
        }

        .sidenoteCounter {
            content: counter(sidenote-counter) " ";
            position: relative;
        }

        .sidenoteCounter::before {
            content: counter(sidenote-counter) " ";
            font-size: 0.8rem;
            position: relative;
            bottom: 3px;
            counter-increment: sidenote-counter;
        }

        .left-img {
            max-width: 100%;
            margin-bottom: $marginBottom;
        }

        .right-img {
            float: right;
            margin-right: -66%;
            max-width: 66%;
            margin-bottom: $marginBottom;
        }

        .big-img {
            width: 166%;
            max-width: 166%;
            margin-bottom: $marginBottom;
        }

        iframe {
            margin-bottom: $marginBottom;
        }
    }
}