@mixin textStyling($fontSize, $marginBot, $display: block, $fontStyle: normal) {
    font-size: $fontSize;
    margin-bottom: $marginBot;
    display: $display;
    font-style: $fontStyle;
}

h1 {
    font-weight: bold;
    @include textStyling(4rem, 20px, inline-block);
}

h2 {
    font-weight: 400;
    @include textStyling(2.8rem, 20px, block, italic);
}

h3 {
    font-weight: 400;
    @include textStyling(2rem, 20px, block, italic);
}

h4 {
    font-weight: 400;
    @include textStyling(1.6rem, 20px, block, italic);
}

.content {
    @include textStyling(1rem, 20px);
}

a {
    color: black;
    transition: 0.3s;
}

a:hover {
    color: #aaa;
    transition: 0.3s;
}

ul {
    @include textStyling(1.2rem, 20px);
    margin-left: 2.3%;
}

.code {
    font-family: monospace;
    font-size: 1.1rem;
}

.codeblock {
    font-family: monospace;
    background-color: #f5f5dc;
    border-radius: 7px;
    padding: 8px;
    margin-left: 40px;
    border: 1px solid #eee;
    @include textStyling(1rem, 30px, inline-table);
}

.sidenote {
    float: right;
    margin-right: -50%;
    clear: right;
    max-width: 30%;
}

.sidenote::before {
    content: counter(sidenote-counter) " ";
    font-size: 0.8rem;
    position: relative;
    bottom: 5px;
    left: 1px;
}

.sidenoteCounter {
    content: counter(sidenote-counter) " ";
    position: relative;
}

.sidenoteCounter::before {
    content: counter(sidenote-counter) " ";
    font-size: 0.8rem;
    position: relative;
    bottom: 3px;
    right: 0.4%;
    counter-increment: sidenote-counter;
}

.left-img {
    max-width: 100%;
    margin-bottom: 30px;
}

.right-img {
    float: right;
    margin-right: -66%;
    max-width: 66%;
}

.big-img {
    width: 166%;
    max-width: 166%;
    margin-bottom: 30px;
}

iframe {
    margin-bottom: 30px;
}